<div class="header">
    <h2>Liked Posts</h2>
  </div>
  <section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card">
            <div class="rounded-top text-white d-flex flex-row card_style" style="height:200px;">
              <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                  Add Post
                </button>
              </div>
              <div class="ms-3" style="margin-top: 130px;">
                <h5>Andy Horwitz</h5>
              </div>
            </div>
  <div class="row">
    <div class="leftcolumn">
      <div class="card">
        <h2>Most Liked</h2>
        <h5>Times Square, Jul 7, 2017</h5>
            <div class="col mb-2">
              <img src="assets/NewYorkPic.jpg" alt="image 1" class="w-100 rounded-3">
            </div>
        <p>Cant wait to go back#NY</p>
      </div>
      <div class="card">
        <h2>Most Liked</h2>
        <h5>Morgantown WV, Sep 2, 2019</h5>
        <img src="assets/Wvu.jpg" alt="image 1" class="w-100 rounded-3">
        <p>LETS GOOOOO#Mountaineers</p>
      </div>
    </div>
    <div class="rightcolumn">
      <div class="card">
        <h2>Most Recent</h2>
        <img src="assets/MuscleBeach.jpg" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 450px; z-index: 1">
        <p>Always got to get a lift in #MuscleBeach/Calli</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
     <img src="assets/SkiFam.jpeg" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 450px; z-index: 1"><br>
     <p>#FAMILYVACATION</p>
     <img src="assets/NyVacation.jpg" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 450px; z-index: 1"><br>
     <p>#NEVER SLEEPS</p>
    </div>
      <div class="card">
        <h3>Follow Me</h3>
      </div>
    </div>
  </div>

<!--Might add a footer later-->
